<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="dark-mode">

    <div class="navbar">
        <a href="/index" id="homeLink" class="nav-link">Home</a>
        <a href="/about" id="aboutLink" class="nav-link">About</a>
        <a href="/all-projects" id="projectsLink" class="nav-link">Projects</a>
        <a href="/fragrances" id="fragrancesLink" class="nav-link">Fragrances</a>
        <a href="/contact" id="contactLink" class="nav-link">Contact</a>

        <div class="toggle-container" style="margin-bottom: 30px">
            <input type="checkbox" id="toggleMode" class="toggle-switch">
            <label for="toggleMode" class="toggle-label">Dark Mode</label>
        </div>
    </div>

    <div class="cl-box" style="margin-left: 260px; margin-right: 10px; margin-top: 20px">
        <h1> Personal Projects</h1>
        <p style="align-self: center;"> 
            This box is for finished projects and prospective projects that I want to do. Reasons they may not be
            implemented is likely because of classwork.
        </p>
    </div>

    <div class="content" style="margin-top: 200px;">

        <div class="classes-container">

            {% for cl in classes %}
            <div class="cl-box">
                <div class="cl">
                    <h1>{{ cl.class_code }} - {{ cl.class_name }}</h1>

                    <div class="projects-container">
                        {% for project in cl.projects %}
                        <div class="project">
                            <a href="/projects/{{ project.project_id }}">{{ project.project_name }}</a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <script src="/static/navbar.js"></script>
</body>
</html>