<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="dark-mode">

    <div class="navbar">
        <a href="index.html" id="homeLink" class="nav-link">Home</a>
        <a href="about.html" id="aboutLink" class="nav-link">About</a>
        <a href="projects.html" id="projectsLink" class="nav-link">Projects</a>
        <a href="fragrances.html" id="fragrancesLink" class="nav-link">Fragrances</a>
        <a href="contact.html" id="contactLink" class="nav-link">Contact</a>
    </div>

    <div class="content">
        <div class="classes-container">

            {% for cl in classes %}
            <div class="cl-box">
                <div class="cl">
                    <h1>{{ cl.class_code }} - {{ cl.class_name }}</h1>

                    <div class="projects-container">
                        {% for project in cl.projects %}
                        <div class="project">
                            <a href="/projects/{{ project.project_id }}/">{{ project.project_name }}</a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>