<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Fragrances }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-mode">
    <header>
        <!-- This is the Website Nav, i.e. logo, home, explore, user profile links-->
        <nav>
            <div class="container">
                <p style="display: flex; align-items:center" >
                    <a href="/"> Home Page </a>  
                </p>
                <p>
                    <a href="/classes/"> Classes & Projects </a> 
                    |
                    <a href="/fragrances/"> Fragrances </a>
                </p>
            </div>
            <hr>
        </nav>
    </header>

    This page is still in development. This page will just be for ratings of colognes
    I have purchased/tried.

</body>