<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.index') }}">Home</a></li>
                <li><a href="{{ url_for('projects.all_projects') }}">Projects</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>My Projects</h2>
        <ul>
            {% for project in projects %}
                <li><a href="{{ url_for('projects.project_details', project_id=project.id) }}">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
